:root {
    --fruit-orange: #F95D18ff;
    --red-orange: #F22926ff;
    --sky: #0FADB5ff;
    --soft-blue: #01809Eff;
    --selective-yellow: #FEBB01ff;
}

.header {
    color: blue;
    width: 100vw;
    justify-content: center;
}

/* * {
} */

 .title {
    color: aliceblue;
}

.col {
    color: aliceblue;
}

.welcome-wrapper {
    display: flex;
    background-image: url(https://cdn.discordapp.com/attachments/1182049276214399016/1183951705931522068/background_2.jpg?ex=658a33f3&is=6577bef3&hm=bbd072d2163d78ff9395027923d2b712aefb0c61e157205e9ead8b21a7a7a24d&);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.welcomeCard-wrapper {
    display: flex;
    align-items: center;
    height: 700px;
}

.welcome {
    align-items: center;
    width: 600px;
    height: 50%;
    padding-bottom: 20px;
}

.chicken-container {
    max-width: fit-content;

}

.profile-wrapper {
    background-image: url(https://cdn.discordapp.com/attachments/1182049276214399016/1183951705931522068/background_2.jpg?ex=658a33f3&is=6577bef3&hm=bbd072d2163d78ff9395027923d2b712aefb0c61e157205e9ead8b21a7a7a24d&);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.notfound-wrapper {
    background-image: url(https://cdn.discordapp.com/attachments/1182049276214399016/1183951807303667713/background_4.webp?ex=658a340b&is=6577bf0b&hm=a6926e2a7e44b7f3c81d84d8f636fb697987bd69d28a0fcd7d182cee044ddd3b&);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.signup-wrapper {
    background-image: url(https://cdn.discordapp.com/attachments/1182049276214399016/1183951728303939674/background_3.webp?ex=658a33f8&is=6577bef8&hm=edb8c69c657c0bbc72b1c1d6f886484209b988256bd563b91a5694c31bdd9c3c&);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-wrapper {
    background-image: url(https://cdn.discordapp.com/attachments/1182049276214399016/1183951728303939674/background_3.webp?ex=658a33f8&is=6577bef8&hm=edb8c69c657c0bbc72b1c1d6f886484209b988256bd563b91a5694c31bdd9c3c&);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home-wrapper {
    background-image: url(https://cdn.discordapp.com/attachments/1182049276214399016/1183951807303667713/background_4.webp?ex=658a340b&is=6577bf0b&hm=a6926e2a7e44b7f3c81d84d8f636fb697987bd69d28a0fcd7d182cee044ddd3b&);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.components-container {
    border: solid black;
    background-color: aqua;
    max-width: fit-content;
    display: flex;
}

.components-container h2 {
    color: black;
}