.periodic-table-wrapper {

    background-color: plum;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(18, auto);
    grid-template-rows: repeat(10, auto);
    gap: 3px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 30px;
    width: ;
}

.buttons {
    font-family: "Poppins", "Georgia";
    color: silver;
    background-color: indigo;
    border: 1px solid blue;
    border-radius: 4px;
}

.buttons:hover{
    border: 3px solid blue;
    transition: .1s;
    background-color: purple;
}

@media and screen (max-width: 500px){
    .periodic-table-wrapper{ 
        overflow: hidden
    }

}