:root {
    --fruit-orange: #F95D18ff;
    --red-orange: #F22926ff;
    --sky: #0FADB5ff;
    --dark-sky: rgb(56, 143, 147);
    --soft-blue: #01809Eff;
    --gray-blue: rgb(13, 73, 87);
    --selective-yellow: #FEBB01ff;
    --soft-yellow: rgb(228, 183, 61);
}

.periodic-table-wrapper {

    background-color: #F95D18ff;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(18, auto);
    grid-template-rows: repeat(10, auto);
    gap: 3px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px;
    @media screen and (max-width: 830px){
    overflow-x: scroll;
    }
    /* width: ; */
}

.buttons {
    box-sizing: border-box;
    font-family: "Poppins", "Georgia";
    color: silver;
    background-color: var(--gray-blue);
    border: 3px solid blue;
    transition: ease-in-out .2s;

    border-radius: 4px;
    resize: both;
}

.buttons:hover{
    border: 3px solid blue;
    background-color: purple;

}

#save{
    width: fit-content;
    text-wrap: wrap;
    height: fit-content;
}
